.contact-us {
  position: absolute;
  top: 212px;
  left: 0;
  display: inline-block;
  width: 1728px;
  height: 79px;
}
.supertoroid-iridescent-icon1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: -48.76%;
  bottom: 0;
  left: 48.76%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.contact-child,
.supertoroid-11 {
  position: absolute;
  top: 515px;
  left: -142px;
  width: 291.2px;
  height: 257.6px;
}
.contact-child {
  top: 371px;
  left: 149px;
  border-radius: var(--br-110xl);
  background-color: var(--color-blueviolet-100);
  width: 1430px;
  height: 988px;
  opacity: 0.23;
}
.j-icon1 {
  position: absolute;
  top: 225.4px;
  left: 154.4px;
  width: 67.2px;
  height: 67.2px;
  overflow: hidden;
}
.contact-inner,
.contact-item {
  position: absolute;
  background-color: var(--color-darkslateblue-100);
}
.contact-item {
  top: 411.8px;
  left: 527.8px;
  border-radius: var(--br-11xl);
  width: 677.4px;
  height: 110.4px;
  opacity: 0.5;
}
.contact-inner {
  top: 429.8px;
  left: 547px;
  border-radius: var(--br-3xl-8);
  width: 300.6px;
  height: 74.4px;
}
.branch-office,
.head-office {
  position: absolute;
  top: 429.2px;
  left: 547px;
  font-size: var(--font-size-9xl-8);
  display: flex;
  color: var(--color-white);
  align-items: center;
  justify-content: center;
  width: 300.6px;
  height: 75px;
  cursor: pointer;
}
.branch-office {
  top: 429px;
  left: 877px;
  font-size: var(--font-size-6xl-2);
  width: 301px;
}
.dipyramid-glass-11 {
  position: absolute;
  top: 1000px;
  left: 1550px;
  width: 258.12px;
  height: 234.81px;
  object-fit: cover;
}
.maps-1-icon,
.telephone-1-icon {
  position: absolute;
  top: 149px;
  left: 465px;
  width: 64px;
  height: 64px;
  overflow: hidden;
}
.maps-1-icon {
  top: 15px;
  left: 446px;
  width: 96px;
  height: 96px;
}
.b,
.c-001a2sector-16b {
  position: absolute;
  top: 0;
  left: 590px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 575px;
  height: 123px;
}
.b {
  top: 119px;
}
.content-child5 {
  position: absolute;
  top: 14px;
  left: 0;
  border-radius: var(--br-12xl);
  width: 383px;
  height: 333px;
  object-fit: cover;
}
.content-child6,
.get-direction {
  position: absolute;
  top: 372px;
  left: 0;
  width: 383px;
  height: 75px;
}
.content-child6 {
  border-radius: var(--br-4xl);
  background-color: var(--color-darkslateblue-300);
}
.get-direction {
  font-size: var(--font-size-base);
  display: flex;
  color: var(--color-white);
  text-align: center;
  align-items: center;
  justify-content: center;
}
.j-icon2 {
  position: absolute;
  top: 403.9px;
  left: 268.5px;
  width: 14px;
  height: 13.2px;
  overflow: hidden;
}
.content4 {
  position: absolute;
  top: 581px;
  left: 282px;
  width: 1165px;
  height: 447px;
  text-align: left;
  font-size: var(--font-size-5xl);
}
.footer-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslategray);
  width: 1728px;
  height: 857px;
}
.home2 {
  position: absolute;
  top: 167px;
  left: 888px;
  display: flex;
  align-items: center;
  width: 122px;
  height: 73px;
}
.privacy-policy1 {
  top: 157px;
  left: 1254px;
  width: 242px;
  cursor: pointer;
}
.driver-terms1,
.follow-us1,
.privacy-policy1,
.safety2 {
  position: absolute;
  display: flex;
  align-items: center;
  height: 73px;
}
.safety2 {
  top: 373px;
  left: 888px;
  width: 142px;
}
.driver-terms1,
.follow-us1 {
  left: 1254px;
}
.driver-terms1 {
  top: 363px;
  width: 272px;
  cursor: pointer;
}
.follow-us1 {
  top: 483px;
  font-size: var(--font-size-13xl);
  width: 252px;
  opacity: 0.6;
}
.about-us2 {
  top: 270px;
  left: 888px;
  width: 182px;
}
.about-us2,
.blog4,
.carrer2,
.customer-terms1,
.postcard1 {
  position: absolute;
  display: flex;
  align-items: center;
  height: 73px;
}
.customer-terms1 {
  top: 260px;
  left: 1254px;
  width: 302px;
  cursor: pointer;
}
.blog4,
.carrer2,
.postcard1 {
  top: 476px;
  left: 888px;
  width: 292px;
}
.blog4,
.carrer2 {
  top: 579px;
  cursor: pointer;
}
.blog4 {
  top: 682px;
}
.customer-app1,
.driver-app1 {
  position: absolute;
  top: 157px;
  left: 102px;
  opacity: 0.5;
}
.driver-app1 {
  left: 492px;
}
.image-1-icon1,
.image-2-icon1 {
  position: absolute;
  top: 261.5px;
  left: 65.5px;
  width: 306px;
  height: 90px;
  object-fit: cover;
}
.image-2-icon1 {
  top: 262px;
  left: 433.5px;
}
.facebook-logo-icon1,
.linkedin-in-logo-icon1 {
  position: absolute;
  top: 602px;
  left: 1357px;
  width: 48px;
  height: 48px;
  overflow: hidden;
}
.linkedin-in-logo-icon1 {
  left: 1455px;
}
.image-3-icon1 {
  position: absolute;
  top: 391px;
  left: 66px;
  width: 311px;
  height: 96px;
  object-fit: cover;
}
.instagram-logo-icon1,
.twitter-logo-icon1 {
  position: absolute;
  top: 602px;
  left: 1191px;
  width: 48px;
  height: 48px;
  overflow: hidden;
}
.instagram-logo-icon1 {
  top: 602.55px;
  left: 1279.65px;
}
.footer1 {
  position: absolute;
  top: 1118px;
  left: 0;
  width: 1728px;
  height: 857px;
  text-align: left;
  font-size: var(--font-size-9xl);
  color: var(--color-white);
}
.about-us3,
.home3,
.safety3 {
  position: relative;
  display: inline-block;
  height: 42px;
  flex-shrink: 0;
}
.home3 {
  width: 95px;
  cursor: pointer;
}
.about-us3,
.safety3 {
  width: 160px;
}
.safety3 {
  width: 104px;
  cursor: pointer;
}
.postpaidcard1 {
  width: 205px;
  cursor: pointer;
}
.blog5,
.carrer3,
.contact2,
.postpaidcard1 {
  position: relative;
  display: inline-block;
  height: 42px;
  flex-shrink: 0;
}
.carrer3 {
  width: 105px;
  cursor: pointer;
}
.blog5,
.contact2 {
  width: 71px;
}
.contact2 {
  width: 120px;
}
.home-group {
  position: absolute;
  top: 87px;
  left: 240px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-26xl);
}
.component-1-item,
.download-app1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.component-1-item {
  right: 0;
  bottom: 0;
  border-radius: var(--br-7xl) var(--br-7xl) 0 var(--br-7xl);
  border: 3px solid var(--color-midnightblue);
  box-sizing: border-box;
}
.download-app1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.component-11 {
  position: absolute;
  top: 71px;
  left: 1424px;
  width: 247px;
  height: 64px;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-midnightblue);
}
.transparent-1-icon1 {
  position: absolute;
  top: 43px;
  left: 0;
  width: 216px;
  height: 216px;
  object-fit: cover;
}
.frame-group {
  position: absolute;
  top: -43px;
  left: 27px;
  width: 1671px;
  height: 216px;
  text-align: left;
  font-size: var(--font-size-11xl);
}
.contact1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1975px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-66xl);
  color: var(--color-black);
  font-family: var(--font-montserrat);
}
