.httpslottiefilescom46993Icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame,
.qwik {
  position: absolute;
}
.qwik {
  height: 5.28%;
  width: 32.59%;
  top: 12.14%;
  left: 34.3%;
  display: flex;
  align-items: center;
}
.frame {
  top: 190px;
  left: 139px;
  width: 758px;
  height: 758px;
  overflow: hidden;
  opacity: 0.5;
  text-align: left;
  font-size: var(--font-size-13xl);
}
.carrerChild {
  position: absolute;
  top: 463px;
  left: 854px;
  border-radius: 45px;
  background-color: var(--color-darkslateblue-100);
  width: 722px;
  height: 299px;
}
.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 29.36px;
  width: 462.41px;
  height: 275.98px;
  object-fit: cover;
}
.cardNumber,
.mrspark {
  position: absolute;
  top: 23.49px;
  left: 23.49px;
  display: flex;
  align-items: center;
  width: 118.91px;
  height: 22.02px;
}
.cardNumber {
  top: 111.57px;
  font-size: 14.68px;
  opacity: 0.5;
}
.expiryDate {
  top: 208.45px;
  left: 23.49px;
  font-size: 11.74px;
  width: 64.59px;
  height: 7.34px;
  opacity: 0.5;
}
.b,
.cvv,
.expiryDate,
.x2x,
.xxxx {
  position: absolute;
  display: flex;
  align-items: center;
}
.cvv {
  top: 208.45px;
  left: 117.44px;
  font-size: 11.74px;
  width: 118.91px;
  height: 7.34px;
  opacity: 0.5;
}
.b,
.x2x,
.xxxx {
  left: 23.49px;
}
.xxxx {
  top: 142.39px;
  font-size: 29.36px;
  width: 309.74px;
  height: 22.02px;
}
.b,
.x2x {
  top: 230.47px;
  width: 69px;
  height: 23.49px;
}
.b {
  left: 117.44px;
  width: 54.32px;
}
.contactlesspaymentIcon {
  position: absolute;
  top: 10.28px;
  left: 391.95px;
  width: 46.98px;
  height: 46.98px;
  overflow: hidden;
}
.image16Icon,
.transparent1Icon {
  position: absolute;
  top: 20.55px;
  left: 289.19px;
  width: 68.57px;
  height: 36.51px;
  object-fit: cover;
}
.transparent1Icon {
  top: 186.43px;
  left: 355.25px;
  width: 111.57px;
  height: 111.57px;
}
.rectangleParent {
  position: absolute;
  top: 392px;
  left: 269px;
  filter: blur(80px);
  width: 466.82px;
  height: 298px;
  text-align: left;
  font-size: 17.62px;
  font-family: var(--font-poppins);
}
.component1Child,
.downloadApp {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.component1Child {
  right: 0;
  bottom: 0;
  border-radius: var(--br-7xl) var(--br-7xl) 0 var(--br-7xl);
  border: 3px solid var(--color-midnightblue);
  box-sizing: border-box;
}
.downloadApp {
  display: flex;
  align-items: center;
  justify-content: center;
}
.component1 {
  position: absolute;
  top: 28px;
  left: 1451px;
  width: 247px;
  height: 64px;
  color: var(--color-midnightblue);
}
.transparent1Icon1 {
  position: absolute;
  top: 0;
  left: 27px;
  width: 216px;
  height: 216px;
  object-fit: cover;
}
.footerChild {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslategray);
  width: 1728px;
  height: 857px;
}
.home {
  top: 167px;
  left: 888px;
  width: 122px;
}
.home,
.privacyPolicy,
.safety {
  position: absolute;
  display: flex;
  align-items: center;
  height: 73px;
}
.privacyPolicy {
  top: 157px;
  left: 1254px;
  width: 242px;
  cursor: pointer;
}
.safety {
  top: 373px;
  left: 888px;
  width: 142px;
}
.driverTerms {
  top: 363px;
  left: 1254px;
  width: 272px;
  cursor: pointer;
}
.aboutUs,
.customerTerms,
.driverTerms,
.followUs {
  position: absolute;
  display: flex;
  align-items: center;
  height: 73px;
}
.followUs {
  top: 483px;
  left: 1254px;
  font-size: var(--font-size-13xl);
  width: 252px;
  opacity: 0.6;
}
.aboutUs,
.customerTerms {
  top: 270px;
  left: 888px;
  width: 182px;
}
.customerTerms {
  top: 260px;
  left: 1254px;
  width: 302px;
  cursor: pointer;
}
.postcard {
  top: 476px;
}
.blog,
.carrer1,
.postcard {
  position: absolute;
  left: 888px;
  display: flex;
  align-items: center;
  width: 292px;
  height: 73px;
}
.carrer1 {
  top: 579px;
  cursor: pointer;
}
.blog {
  top: 682px;
}
.customerApp,
.driverApp {
  position: absolute;
  top: 157px;
  left: 102px;
  opacity: 0.5;
}
.driverApp {
  left: 492px;
}
.image1Icon,
.image2Icon {
  position: absolute;
  top: 261.5px;
  left: 65.5px;
  width: 306px;
  height: 90px;
  object-fit: cover;
}
.image2Icon {
  top: 262px;
  left: 433.5px;
}
.facebookLogoIcon,
.linkedinInLogoIcon {
  position: absolute;
  top: 602px;
  left: 1357px;
  width: 48px;
  height: 48px;
  overflow: hidden;
}
.linkedinInLogoIcon {
  left: 1455px;
}
.image3Icon {
  position: absolute;
  top: 391px;
  left: 66px;
  width: 311px;
  height: 96px;
  object-fit: cover;
}
.instagramLogoIcon,
.twitterLogoIcon {
  position: absolute;
  top: 602px;
  left: 1191px;
  width: 48px;
  height: 48px;
  overflow: hidden;
}
.instagramLogoIcon {
  top: 602.55px;
  left: 1279.65px;
}
.footer {
  position: absolute;
  top: 3915px;
  left: 0;
  width: 1728px;
  height: 857px;
  text-align: left;
  font-size: var(--font-size-9xl);
  color: var(--color-white);
}
.supertoroidIridescentIcon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: -50.14%;
  bottom: 0;
  left: 50.14%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.supertoroid1 {
  position: absolute;
  top: 310px;
  left: -146px;
  width: 291.2px;
  height: 257.6px;
}
.roundcubeBlueGlossyIcon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.carrerItem,
.cube2 {
  position: absolute;
  top: 463px;
  left: 1586px;
  width: 384px;
  height: 413px;
}
.carrerItem {
  top: 981px;
  left: -1.72px;
  border-top: 3px dashed var(--color-black);
  box-sizing: border-box;
  width: 1731.44px;
  height: 3px;
}
.b1,
.qwikMoney,
.walletpostpaid {
  position: absolute;
  display: inline-block;
}
.b1 {
  top: 111px;
  left: 92px;
  font-size: var(--font-size-sm);
  font-family: var(--font-hind);
  color: var(--color-darkslateblue-200);
  text-align: left;
  width: 127px;
  height: 24px;
}
.qwikMoney,
.walletpostpaid {
  left: 361px;
  text-align: right;
  width: 1163px;
  height: 106px;
}
.qwikMoney {
  top: 248px;
  font-size: 87px;
  color: var(--color-midnightblue);
}
.walletpostpaid {
  top: 378px;
  font-size: var(--font-size-23xl);
}
.rectangleGroup {
  position: absolute;
  top: 411px;
  left: 274px;
  width: 466.82px;
  height: 298px;
  text-align: left;
  font-size: 17.62px;
  font-family: var(--font-poppins);
}
.registerForQwik {
  position: absolute;
  top: 498px;
  left: 957px;
  font-size: var(--font-size-13xl);
  display: flex;
  color: var(--color-white);
  align-items: center;
  justify-content: center;
  width: 517px;
  height: 109px;
}
.carrerInner {
  position: absolute;
  top: 642px;
  left: 1060px;
  border-radius: var(--br-4xl);
  background-color: var(--color-white);
  width: 310px;
  height: 76px;
}
.learnMoreTxtContainer {
  line-break: anywhere;
  width: 100%;
}
.learnMore {
  position: absolute;
  top: 640px;
  left: 1077px;
  font-size: var(--font-size-13xl);
  display: flex;
  align-items: center;
  width: 274px;
  height: 78px;
}
.lineDiv {
  position: absolute;
  top: 364.05px;
  left: 951.49px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 561.02px;
  height: 1px;
}
.benefits {
  position: absolute;
  top: 1009px;
  left: 0;
  font-size: var(--font-size-29xl);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1728px;
  height: 107px;
}
.carrerChild1,
.carrerChild2,
.carrerChild3,
.carrerChild4,
.rectangleDiv {
  position: absolute;
  top: 1215px;
  left: 38px;
  border-radius: var(--br-4xl);
  background-color: var(--color-white);
  border: 3px solid var(--color-black);
  box-sizing: border-box;
  width: 312.56px;
  height: 420px;
}
.carrerChild1,
.carrerChild2,
.carrerChild3,
.carrerChild4 {
  left: 372.45px;
}
.carrerChild2,
.carrerChild3,
.carrerChild4 {
  left: 706.91px;
}
.carrerChild3,
.carrerChild4 {
  left: 1041.36px;
}
.carrerChild4 {
  left: 1375.81px;
}
.noAdditionalCharges,
.oneBillConvience,
.oneClickCheckout,
.payEverywhere,
.payLater {
  position: absolute;
  top: 1451px;
  left: 38px;
  display: inline-block;
  width: 313px;
  height: 30px;
}
.noAdditionalCharges,
.oneBillConvience,
.oneClickCheckout,
.payEverywhere {
  left: 372px;
}
.noAdditionalCharges,
.oneBillConvience,
.oneClickCheckout {
  left: 707px;
  width: 312px;
}
.noAdditionalCharges,
.oneBillConvience {
  left: 1041px;
  width: 313px;
}
.noAdditionalCharges {
  left: 1376px;
  width: 312px;
}
.every15Days,
.noHiddenCharges,
.notOnlyOn,
.quickPayment,
.thereIsOnly {
  position: absolute;
  top: 1521px;
  left: 61px;
  font-size: var(--font-size-xl);
  display: inline-block;
  width: 265px;
  height: 69px;
  opacity: 0.7;
}
.noHiddenCharges,
.notOnlyOn,
.quickPayment,
.thereIsOnly {
  left: 396px;
}
.noHiddenCharges,
.quickPayment,
.thereIsOnly {
  left: 707px;
  width: 312px;
}
.noHiddenCharges,
.thereIsOnly {
  left: 1065px;
  width: 265px;
}
.noHiddenCharges {
  left: 1376px;
  width: 310px;
}
.ellipseIcon {
  position: absolute;
  top: 1272px;
  left: 119px;
  width: 150px;
  height: 150px;
}
.carrerChild5,
.carrerChild6,
.carrerChild7,
.carrerChild8 {
  position: absolute;
  top: 1272px;
  left: 454px;
  width: 150px;
  height: 150px;
}
.carrerChild6,
.carrerChild7,
.carrerChild8 {
  left: 789px;
}
.carrerChild7,
.carrerChild8 {
  left: 1124px;
}
.carrerChild8 {
  left: 1459px;
}
.mobilehowToApplyChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-darkblue);
  opacity: 0.2;
}
.mobilehowToApplyChild1,
.mobilehowToApplyInner,
.mobilehowToApplyItem {
  position: absolute;
  height: 9.63%;
  width: 7.31%;
  top: 24.85%;
  right: 89.16%;
  bottom: 65.52%;
  left: 3.53%;
  border-radius: 18.95px;
  background-color: var(--color-darkblue);
}
.mobilehowToApplyChild1,
.mobilehowToApplyInner {
  top: 47.96%;
  bottom: 42.41%;
  opacity: 0.2;
}
.mobilehowToApplyChild1 {
  top: 71.07%;
  bottom: 19.3%;
}
.b3,
.b4 {
  width: 5.73%;
  left: 4.36%;
  color: var(--color-white);
  text-align: center;
  justify-content: center;
}
.b3 {
  position: absolute;
  height: 6.13%;
  top: 26.55%;
  display: flex;
  align-items: center;
}
.b4 {
  top: 49.66%;
}
.b4,
.b5,
.beginRightAway,
.clickOnQwik,
.navigateToProfile {
  position: absolute;
  height: 6.13%;
  display: flex;
  align-items: center;
}
.b5 {
  width: 5.73%;
  top: 72.77%;
  left: 4.36%;
  color: var(--color-white);
  text-align: center;
  justify-content: center;
}
.beginRightAway,
.clickOnQwik,
.navigateToProfile {
  left: 13.5%;
}
.navigateToProfile {
  width: 47.8%;
  top: 26.55%;
  color: var(--color-darkblue);
}
.beginRightAway,
.clickOnQwik {
  width: 46.64%;
  top: 49.66%;
}
.beginRightAway {
  top: 72.77%;
}
.lineIcon,
.mobilehowToApplyChild2 {
  position: absolute;
  height: 13.48%;
  width: 0.19%;
  top: 34.48%;
  right: 92.62%;
  bottom: 52.04%;
  left: 7.19%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.mobilehowToApplyChild2 {
  top: 57.59%;
  bottom: 28.93%;
  opacity: 0.2;
}
.mobilehowToApplyChild3 {
  position: absolute;
  height: 73.78%;
  width: 27.14%;
  top: 14.33%;
  right: 9.03%;
  bottom: 11.89%;
  left: 63.83%;
  border-radius: 77.48px;
}
.headOverTo,
.howToApply {
  position: absolute;
  height: 8.54%;
  width: 42.3%;
  top: 4.19%;
  left: 5.79%;
  font-size: var(--font-size-23xl-6);
  display: flex;
  align-items: center;
}
.headOverTo {
  top: 11.05%;
  font-size: var(--font-size-13xl);
  opacity: 0.6;
}
.mobilehowToApply {
  position: absolute;
  top: 1714px;
  left: 4px;
  width: 1728px;
  height: 1312px;
  text-align: left;
  font-size: 35.37px;
}
.exclusiveOffer,
.getTheGreatest {
  position: absolute;
  top: 3094px;
  left: 0;
  font-size: var(--font-size-29xl);
  display: inline-block;
  width: 1732px;
  height: 96px;
}
.getTheGreatest {
  top: 3190px;
  font-size: var(--font-size-13xl);
  height: 69px;
}
.groupInner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-6xl);
  background-color: var(--color-white);
  border: 3px solid var(--color-black);
  box-sizing: border-box;
}
.image17Icon,
.rectangleIcon {
  position: absolute;
  height: 33.28%;
  width: 34.91%;
  top: 11.62%;
  right: 25.09%;
  bottom: 55.1%;
  left: 40%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangleIcon {
  height: 91.3%;
  width: 36.42%;
  top: 4.35%;
  right: 61.7%;
  bottom: 4.35%;
  left: 1.89%;
  border-radius: var(--br-4xl);
}
.cashbackUpto200,
.tcApply {
  position: absolute;
  height: 10.87%;
  width: 52.45%;
  top: 52.17%;
  left: 42.08%;
  display: inline-block;
}
.tcApply {
  height: 8.7%;
  width: 24.53%;
  top: 80%;
  left: 44.91%;
  font-size: var(--font-size-base);
  text-align: left;
  opacity: 0.7;
  cursor: pointer;
}
.rectangleContainer {
  position: absolute;
  height: 55.95%;
  width: 19.13%;
  top: 0.49%;
  right: 40.42%;
  bottom: 43.57%;
  left: 40.45%;
}
.tcApply1 {
  position: absolute;
  height: 8.7%;
  width: 24.53%;
  top: 80%;
  left: 44.91%;
  font-size: var(--font-size-base);
  text-align: left;
  display: inline-block;
  opacity: 0.7;
}
.groupDiv {
  position: absolute;
  height: 55.95%;
  width: 19.13%;
  top: 0.49%;
  right: 60.63%;
  bottom: 43.57%;
  left: 20.25%;
}
.groupChild4,
.image17Icon2 {
  position: absolute;
  height: 33.28%;
  width: 34.91%;
  top: 12.49%;
  right: 25.09%;
  bottom: 54.23%;
  left: 40%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.groupChild4 {
  height: 91.3%;
  width: 36.42%;
  top: 5.22%;
  right: 61.7%;
  bottom: 3.48%;
  left: 1.89%;
  border-radius: var(--br-4xl);
}
.image18Icon,
.rectangleParent1 {
  position: absolute;
  height: 55.95%;
  width: 19.13%;
  top: 0.49%;
  right: 80.87%;
  bottom: 43.57%;
  left: 0;
}
.image18Icon {
  height: 26.96%;
  width: 28.27%;
  top: 11.74%;
  right: 27.2%;
  bottom: 61.3%;
  left: 44.53%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangleParent2 {
  position: absolute;
  height: 55.95%;
  width: 19.13%;
  top: 0;
  right: 20.21%;
  bottom: 44.05%;
  left: 60.66%;
}
.groupChild8,
.image17Icon3 {
  position: absolute;
  height: 33.28%;
  width: 34.91%;
  top: 11.62%;
  right: -399.62%;
  bottom: 55.1%;
  left: 464.72%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.groupChild8 {
  height: 91.3%;
  width: 36.42%;
  top: 4.35%;
  right: -361.13%;
  bottom: 4.35%;
  left: 424.72%;
  border-radius: var(--br-4xl);
}
.rectangleParent3 {
  position: absolute;
  height: 55.95%;
  width: 19.13%;
  top: 0;
  right: 0;
  bottom: 44.05%;
  left: 80.87%;
}
.arrowLeftCircleIcon,
.arrowRightCircleIcon {
  position: absolute;
  height: 23.35%;
  width: 3.46%;
  top: 76.65%;
  right: 44.91%;
  bottom: 0;
  left: 51.62%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.arrowLeftCircleIcon {
  right: 50.68%;
  left: 45.85%;
}
.component15 {
  position: absolute;
  top: 3408px;
  left: -520px;
  width: 2771px;
  height: 411.1px;
}
.aboutUs1,
.home1 {
  position: relative;
  display: inline-block;
  height: 42px;
  flex-shrink: 0;
}
.home1 {
  width: 95px;
  cursor: pointer;
}
.aboutUs1 {
  width: 160px;
}
.safety1 {
  width: 104px;
  cursor: pointer;
}
.blog1,
.carrer2,
.contact,
.postpaidcard,
.safety1 {
  position: relative;
  display: inline-block;
  height: 42px;
  flex-shrink: 0;
}
.postpaidcard {
  width: 214px;
  cursor: pointer;
}
.blog1,
.carrer2,
.contact {
  width: 105px;
}
.blog1,
.contact {
  width: 71px;
}
.contact {
  width: 120px;
  cursor: pointer;
}
.homeParent {
  position: absolute;
  top: 44px;
  left: 267px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-26xl);
  text-align: left;
  font-size: var(--font-size-11xl);
}
.carrer {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 4772px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-montserrat);
}
