.group-inner {
  top: 2px;
  border-radius: var(--br-35xl);
  background-color: var(--color-white);
  height: 1500px;
}
.group-child1,
.group-inner,
.terms-condition {
  position: absolute;
  left: 0;
  width: 1708px;
}
.terms-condition {
  top: 340px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 157px;
}
.group-child1 {
  top: 0;
  border-radius: var(--br-35xl);
  background-color: var(--color-midnightblue);
  height: 322px;
}
.cashback-upto-200,
.image-19-icon {
  position: absolute;
  top: 79px;
  height: 165px;
}
.image-19-icon {
  left: 65px;
  border-radius: var(--br-81xl);
  width: 306px;
  object-fit: cover;
}
.cashback-upto-200 {
  left: 423px;
  display: flex;
  color: var(--color-white);
  text-align: left;
  align-items: center;
  width: 901px;
}
.x-circle-icon1 {
  position: absolute;
  top: 89px;
  left: 1474px;
  width: 144px;
  height: 144px;
  overflow: hidden;
}
.offer-is-valid {
  margin-bottom: 0;
}
.offer-is-valid-in-the-cities-w {
  margin: 0;
  padding-left: var(--padding-32xl);
}
.blank-line2 {
  margin: 0;
}
.offer-is-valid-container {
  position: absolute;
  top: 562px;
  left: 65px;
  font-size: var(--font-inherit);
  font-family: var(--font-inherit);
  text-align: left;
  display: inline-block;
  width: 1593px;
  height: 863px;
}
.group-container,
.terms {
  width: 1708px;
  height: 1502px;
}
.group-container {
  position: absolute;
  top: 0;
  left: 0;
}
.terms {
  position: relative;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: center;
  font-size: var(--font-size-35xl);
  color: var(--color-black);
  font-family: var(--font-montserrat);
}
